
/* navbar */

.navbar__items {
    display: flex;
    padding: 1rem 1rem;
    position: relative;
    z-index: 1;
    background-color: var(--color-prim-white);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


.navbar__menu-item {
    list-style: none;
    position: relative;
}

.navbar__menu-link {
    color: var(--color-general-black);
    text-transform: uppercase;
    padding: 1rem;
}

.navbar__logo{
    background-image: url(../logos/logo_reduced.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    width: 80px;
    height: 62.68px;
    display: inline-block;
    transition: 1s;
}

.navbar__logo:hover {
    background-image: url(../logos/logo_reduced-hover.svg);
}

.navbar__menu-link:hover {
    font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 1100px) {  
    .navbar__logo{
        background-image: url(../logos/logo_main.svg);
        background-repeat: no-repeat;
        background-origin: content-box;
        width: 360px;
        height: 116.48px;
    }
    
    .navbar__logo:hover {
        background-image: url(../logos/logo_main-hover.svg);
    }
}

@media screen and (min-width: 768px) {
    .navbar__menu--hidden {
        opacity: 1;
        pointer-events: auto;
        user-select: auto;
    }

    .navbar__menu-link--light:hover {
        font-weight: var(--font-weight-light);

    }

    .navbar__menu-link:hover::before {
        width: calc(100% - 2rem);
        transition: width 0.5s ease;
    }

    .navbar__menu-link::before {
        position: absolute;
        content: "";
        width: 0%;
        height: 4px;
        left: 1rem;
        bottom: -.5rem;
        background-image: url(../icons/icon_menu-border.svg);
        background-repeat-x: repeat;
        z-index: 10;
        transition: width 0.5s ease;
    }
}

@media screen and (min-width: 590px) {
    .icon-container {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .footer-box {
        flex-direction: row;
        justify-content: center;
        gap: .5rem;
    }

    .footer-box__text--star::after {
        content: url(../icons/icon_star-filled.svg);
        display: inline-block;
        height: 1rem;
        margin-left: .5rem;
    }

    .footer-box__link--maker {
        margin-top: 2rem;
    }

    .preset-box {
        flex-direction: row;
        padding-inline: 0rem;
        gap: 1rem;
    }

    .swiper-button-next {
        right: calc(10% - 1rem);
    }
    
    .swiper-button-prev {
        left: calc(10% - 1rem);
    }
}

@media screen and (max-width: 380px) {
    .footer-box__text {
        margin-inline: -1rem;
    }
}

@media screen and (min-width: 800px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .footer-box__link--maker {
        margin-top: 0;
    }

    .footer-box__text {
        margin: 0;
    }
}

@media screen and (min-width: 960px) {
    .swiper-container {
        padding-bottom: calc(4/9 * (100% - 10px));
    }

    .swiper--full-width {
        margin-inline: 8rem;
    }
}

@media (pointer: coarse) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    .swiper {
        margin: 2rem 0;
    }

    .swiper--full-width {
        margin-inline: -2rem;
    }
  }

  @container thumbnails (min-width: 452px) and (max-width: 608px) {
    .thumbnail--transform1 {
        grid-column: span 2;
    }

    .thumbnail--transform1 .thumbnail__image {
        aspect-ratio: 2;
    }
}

@container thumbnails (min-width: 764px) and (max-width: 1076px) {
    .thumbnail--transform2 {
        grid-row: span 1;
    }

    .thumbnail--transform2 .thumbnail__image {
        aspect-ratio: 1;
    }
}

@container thumbnails (min-width: 1076px) and (max-width: 2000px) {
    .thumbnail--transform1, .thumbnail--transform2 {
        grid-column: span 2;
        grid-row: span 1;
    }

    .thumbnail--transform1 .thumbnail__image, .thumbnail--transform2 .thumbnail__image {
        aspect-ratio: 2;
    }

    .thumbnail--transform3 {
        grid-row: span 2;
        grid-column: span 2;
    }

    .thumbnail--transform3 .thumbnail__image {
        aspect-ratio: 1;
    }
}
